<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>SOAP Proxy</display-name>
 <servlet>
  <servlet-name>SOAPServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.SOAPServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>MappingConfigurationServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.MappingConfigurationServlet</servlet-class>
  <!-- 
  <init-param>
  	<description>
  	path for SOAP proxy stuffs
  	default value is /var/soap-proxy
  	</description>
	<param-name>soap-proxy-path</param-name>
	<param-value>/var/soap-proxy</param-value>  
  </init-param>
   -->
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>DownloadServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.DownloadServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>UploadServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.UploadServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>DeleteServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.DeleteServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ResultsServlet</servlet-name>
  <servlet-class>com.ecs.soap.proxy.servlets.ResultsServlet</servlet-class>
  <init-param>
   <param-name>max-results</param-name>
   <param-value>50</param-value>
  </init-param>
  <load-on-startup>2</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>SOAPServlet</servlet-name>
  <url-pattern>/soap</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SOAPServlet</servlet-name>
  <url-pattern>/soap/</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SOAPServlet</servlet-name>
  <url-pattern>/soap/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MappingConfigurationServlet</servlet-name>
  <url-pattern>/config</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MappingConfigurationServlet</servlet-name>
  <url-pattern>/config/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownloadServlet</servlet-name>
  <url-pattern>/download</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownloadServlet</servlet-name>
  <url-pattern>/download/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServlet</servlet-name>
  <url-pattern>/upload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServlet</servlet-name>
  <url-pattern>/upload/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteServlet</servlet-name>
  <url-pattern>/delete</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteServlet</servlet-name>
  <url-pattern>/delete/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ResultsServlet</servlet-name>
  <url-pattern>/results</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ResultsServlet</servlet-name>
  <url-pattern>/results/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>config</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
